@import 'const/mixins';
@import 'const/variables';

*,* * {
	margin:0;
	padding:0;
	font-size:1em;
	position:relative;
	box-sizing: border-box;
}
body {
	font-size:62.5%;
} 
body{
	background-color: $white;
	font-family: "Lato", sans-serif;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	
	> .container {
		padding: 10px;
	}
}
h1, h2 {
	font-weight: 700;
}
h1{
	font-size:3em;
}

h2{
	font-size:2.5em;
	margin-bottom: 15px;
}
p {
	font-size: 1.8em;
}
label {
	font-size: 2em;
}
label,
legend {
	margin-bottom: 2px;
	text-align: left;
	display: block;
}
legend {
	font-size: 2.2em;
}
fieldset {
	border: none;
}
input {
	font-family: "Lato", sans-serif;
	border:none;
	background:none;
	-webkit-box-shadow: 0px 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px 0px;
	box-shadow: 0px 0px 0px 0px;
	font-size:2em;
	height:auto;
	border: 2px solid $dark-blue;
	width: auto;
	color:$foreground;
	background-color: $input-background;
	border-radius: $border-radius;
	margin-bottom:0px;
	padding: 15px;
	&[type="number"]{
		outline-offset: -8px;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
		}

		
	}
	border-right-width: 0;
	outline: 2px transparent dashed;
	transition: border .3s ease, outline .3s ease;
	outline-offset: 5px;
	&:focus {
		outline: 2px $gray dashed;
	
		
	}
}

/*Input and button styles*/

button{
	background:none;
	border:none;
	background-color: $background;
	color: $foreground;
	padding: 15px;
	font-size: 2em;
	border-radius: $border-radius;
	border: 2px solid $foreground;
	
	
	@include transit((background-color: $foreground, color: $background));
	
	&.beep {
		margin-bottom: 2px;
	}
}
#clear {
	visibility: hidden;
	&.show {
		visibility: visible;
	}
}
#timer {
/*Main container box*/
	text-align:center;
	margin: 0 auto;
	background-color: $light-cyan;
	padding:20px;
	color:$foreground;
	border-radius: 3px;	
	max-width: 768px;
}

#count{
/*Holds countdown clock*/
 
	font-size:60px;
	font-family:"Lato", sans-serif;
}
.hide {
	display: none;
}

.timeholder{
 
	line-height:80px;
 
	
}

#timelabel{
	font-size:50px;
	font-family:"Lato", sans-serif;
	
}

.container {
	width: 100%;
}
.row {
	display: table;
	width: 100%;
	margin-bottom: 20px;
	.column {
		
		@media (min-width: $two-column-viewport) {
			display: table-cell;
			width: 50%;
		}
		
	}
	&.hide {
		display: none;
	}
}
.row-eq-height {
/*
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:				 inline-flex;
*/
	width:100%;
}





// Visually hidden screen reader text
.vh {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.settings {
	margin-top: 20px;
	text-align: left;
	
	.column {
		vertical-align: top;
		margin-bottom: 20px;
	
		@media (min-width: $two-column-viewport) {
			margin-bottom: 0;
			border-right: 10px solid transparent;
			
			&:last-child {
				border-right-width: 0;
				border-left: 10px solid transparent;
			}
		}
		.container {
			display: table;
			width: 100%;
			
			
		}
	}
	
	.other-controls {
		.container {
			margin-bottom: 20px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.length-control {
		
		
		
		
		.wrap {
			display: table;
			width: 100%;
			vertical-align: middle;
			table-layout: fixed;
		}
		input {
			width: 100%;
		}
		.cell {
			display: table-cell;
			vertical-align: middle;
		}
		input {
			//width: 70%;
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
		.buttons {
			width: 20%;
		}
		button {
			line-height: 1;
			width: 100%;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			padding: 2px;
			&:first-child {
				
				
				padding-bottom: 5px;
				border-bottom-width: 1px;
				border-bottom-right-radius: 0;
			}
			
			&:last-child {
				padding-top: 4px;
				border-top-width: 1px;
				border-top-right-radius: 0;
				
			}
			
			
		}
	}
}
/*Text appears if value is too high or low*/

#sTxt{ 
	display:none;
}

#bTxt {
	display:none;
}


#progress{
/*contains play/pause button, countdown, and text*/
/*
	border:solid;
	border-radius:10px;
	border-color:#FFFFFF;
*/
	margin-top:10px;
	padding-bottom:15px;
}

/*Progress bar pieces*/
#perc{
	width:100%;
	margin-left:auto;
	margin-right:auto;

}

#empty{
	background-color:$white;
	height:40px;
	width:100%;
	margin-right:auto;
	margin-left:auto;
}

#bar{
	background-color:$red;
	height:40px;
	margin-right:auto;
	margin-left:auto;
	padding:0;
	width:0;
	max-width:836px;
	position:absolute;
	z-index:2; 
	transition: width 1s linear; 
}
	
/** http://getbootstrap.com.vn/examples/equal-height-columns/*/


